*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.inner
{
    padding:15px;
    box-shadow:0px 0px 2px red;
     border-radius:10px;
    background:linear-gradient(120deg,white,red,green);
}
.outer
{
    height:400px;
    width:300px;
    border-radius:10px;
    
    margin:100px auto;
}
h1
{
    text-align:center;
}
input
{
    height:40px;
    padding-left: 10px;
    width:100%;
    border:none;
    border-radius:5px;
    
}
.login
{
    border-radius:5px;
    height:50px;
    width:100%;
    font-size:30px;
    background:#23a9f2;
    text-align:center;
    padding:5px;
}
.pass
{
    text-align:center;
    color:#32a4f1;
}
